<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">
        {{GetName()}}'s Todo List
      </h3>

      <div class="input-group mb-3">
        <!-- (blur)="AddItem(inputText)" -->
        <input [(ngModel)]="inputText" type="text" class="form-control" (keyup.enter)="AddItem();;">
        <button [class.disabled]="inputText.length==0" class="btn btn-primary" (click)="AddItem();">Add</button>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="" id="DisplayAll">
        <label for="DisplayAll" class="form-check-label">Hepsini Göster</label>
      </div>

      <div class="my-2">
        <span>Completed Count</span>
        <div class="badge bg-success ms-2">
          {{DisplayCompletedCount()}}
        </div>
      </div>

      <ng-template #itemsTable>
        <table class="table table-bordered" *ngIf="GetItems().length>0">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Action</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of GetItems(); let i = index;" [class]="{'bg-success':item.action, 'bg-warning':!item.action}">
              <td> {{i + 1}} </td>
              <td> {{item.description}} </td>
              <td>
                <span [ngSwitch]="item.action">
                  <span *ngSwitchCase="true">
                    YES
                  </span>
                  <span *ngSwitchCase="false">
                    NO
                  </span>
                </span>
              </td>
              <td><input type="checkbox" (change)="OnActionChanged(item)" [(ngModel)]="item.action"></td>
              <td><button class="btn btn-danger btn-sm" (click)="DeleteItem(item.description)">x</button></td>
            </tr>
          </tbody>
        </table>
      </ng-template>

      <div class="alert alert-danger" *ngIf="GetItems().length==0; else itemsTable">
        Tüm Görevler Tamamlandı
      </div>

    </div>
  </div>
</div>
